on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-macos-aarch64:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: nightly
        default: true
    - run: |
        mkdir .cargo
        mv .github/actions_config.toml .cargo/config.toml
    - run: brew install openssl@3
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: cargo-bundle
        locked: false
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - run: cargo bundle --release
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: macos-aarch64
        path: target/release/bundle/osx/stencil2.app

  build-macos-x86_64:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: nightly
          default: true
      - run: |
          mkdir .cargo
          mv .github/actions_config.toml .cargo/config.toml
      - run: brew install openssl@3
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      - run: cargo build --release
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: macos-x86_64
          path: target/release/stencil2

  build-macos:
    runs-on: macos-latest
    needs: [build-macos-aarch64, build-macos-x86_64]

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: macos-aarch64
          path: app/stencil2.app
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: macos-x86_64

      - run: |
          lipo app/stencil2.app/Contents/MacOS/stencil2 stencil2 -create -output stencil2-new
          mv stencil2-new app/stencil2.app/Contents/MacOS/stencil2
      - run: |
          ln -s "/Applications" "app/"
          hdiutil create stencil2.dmg -fs HFS+ -volname stencil2 -srcfolder "app/" -ov

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: macos
          path: stencil2.dmg

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: rui314/setup-mold@v1
    - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: nightly
        default: true
    - run: |
        mkdir .cargo
        mv .github/actions_config.toml .cargo/config.toml
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: cargo-bundle
        locked: false
    - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
      with:
        packages: libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
        version: 1.0
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - run: cargo bundle --release --format deb
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: linux
        path: target/release/bundle/deb/stencil2*.deb

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: nightly
        default: true
    - run: |
        mkdir .cargo
        mv .github/actions_config.toml .cargo/config.toml
    - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
      with:
        crate: cargo-wix
        locked: false
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - run: cargo build --release
    - run: cargo wix -I "./build/windows/main.wxs" -v
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: windows
        path: target/wix/stencil2-*-x86_64.msi

  version-changelog:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      changelog: ${{ steps.changelog.outputs.changelog }}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - run: cargo update
    - id: version
      run: echo "version=$(cargo pkgid | cut -d '#' -f 2)" >> "$GITHUB_OUTPUT"
    - id: changelog
      run: |
        {
        echo 'changelog<<__EOF__'
        python -c "
        import os
        print('\n'.join(open('changelog.md').read().split('# v' + os.environ['VERSION'])[1].split('\n')[1:]).split('\n#')[0])
        "
        echo __EOF__
        } >> "$GITHUB_OUTPUT"
      env:
        VERSION: ${{ steps.version.outputs.version }}

  github-release:
    runs-on: ubuntu-latest
    needs:
      - build-linux
      - build-macos
      - build-windows
      - version-changelog
    permissions:
      id-token: write
      attestations: write
      contents: write

    steps:
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: macos
        path: dist
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: linux
        path: dist
    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: windows
        path: dist
    - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
      with:
        subject-path: dist/*
    - uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        tag_name: v${{ needs.version-changelog.outputs.version }}
        body: ${{ needs.version-changelog.outputs.changelog }}
        files: dist/*

  update-hash:
    runs-on: ubuntu-latest
    needs:
      - github-release
      - version-changelog
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - env:
          VERSION: ${{ needs.version-changelog.outputs.version }}
        run: |
          export MAC_SHA=$(curl "https://github.com/MRT-Map/stencil2/releases/download/v$VERSION/stencil2.dmg" -L | shasum -a 256 | cut -d ' ' -f1)
          cat build/macos/brew.rb | sed "s/sha256 \".*\"/sha256 \"$MAC_SHA\"/" > build/macos/brew2.rb
          cat build/macos/brew2.rb | sed "s/version \".*\"/version \"$VERSION\"/" > build/macos/brew.rb
          rm build/macos/brew2.rb

          export LINUX_SHA=$(curl "https://github.com/MRT-Map/stencil2/releases/download/v$VERSION/stencil2_${VERSION}_amd64.deb" -L | shasum -a 256 | cut -d ' ' -f1)
          cat build/linux/PKGBUILD | sed "s/sha256sums=.*/sha256sums=('$LINUX_SHA')/" > build/linux/PKGBUILD2
          cat build/linux/PKGBUILD2 | sed "s/pkgver=.*/pkgver=$VERSION/" > build/linux/PKGBUILD
          rm build/linux/PKGBUILD2
          
          cat build/windows/scoop.json | sed "s/\"version\": .*/\"version\": \"$VERSION\",/" > build/windows/scoop2.json
          mv build/windows/scoop2.json build/windows/scoop.json
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: update sha256 for v${{ needs.version-changelog.outputs.version }}

      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.PAT }}
          repository: mrt-map/homebrew-mrt-map
          event-type: update_stencil2
      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.PAT }}
          repository: mrt-map/arch-mrt-map
          event-type: update_stencil2
